# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local files
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# environment
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# tests
/test-results/
/playwright-report/
